* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: 0;
}

.wrapper {
    width: 75%;
    margin: auto;
    padding-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn {
    background-color: rgb(68, 68, 214);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(87, 87, 226);
}